* {
  margin: 0;
  box-sizing: border-box;
  ul {
    list-style-type: none;
  }
  input {
    border: none;
    outline: none;
  }
}

@font-face {
  font-family: m_popins;
  src: url(./fonts/Poppins-MediumItalic.ttf);
}
@font-face {
  font-family: s_popins;
  src: url(./fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: georgian;
  src: url(./fonts/bpg_nino_mtavruli_bold.ttf);
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(./photo/man-weld.jpg);
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.heading {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  position: fixed;
}

.logo_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.818);
}

.registration {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin-right: 30px;
}
.title {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
.main_title {
  font-weight: 700;
  font-size: 30px;
  font-family: m_popins;
  color: rgba(16, 177, 213, 0.997);
}
.losung {
  font-weight: 800;
  font-size: 52px;
  font-family: georgian;
  color: rgb(244, 110, 37);
}
.registr {
  width: 150px;
  height: 30px;
  border-radius: 25px;
  background-color: rgb(223, 172, 117);
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  font-family: m_popins;
}
.or {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.finger {
  width: 30px;
  height: 30px;
  position: absolute;
  animation-name: movingfinger;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes movingfinger {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}

.conteiner {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.81);
}
.animation {
  width: 100px;
  height: 100px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welder {
  width: 90px;
  height: 50px;
  border-radius: 10px;
}
.navigation {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.mainer {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.114);
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  font-family: georgian;
  color: rgb(242, 232, 220);
  display: flex;
  justify-content: end;
  align-items: center;
}
.mainer:hover {
  color: rgb(244, 110, 37);
}

.search {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 70px;
}
.gsearch {
  width: 200px;
  height: 30px;
  border-radius: 16px;
  border: none;
  outline: none;
  background-color: rgb(208, 200, 200);
}
.lupa {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 3px;
}
.soc_cell {
  width: 100%;
  height: 100px;
  display: flex;
}
.lf_size {
  width: 40%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.cent {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.up {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
}
.main_box {
  width: 100%;
  height: 1300px;

  display: flex;
  flex-direction: column;
}
.head_box {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middel {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 28px;
}
.box {
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  background-color: rgba(128, 128, 128, 0.685);
  border-radius: 16px;
  gap: 50px;
}

.text {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}
.img {
  width: 100%;
  height: 250px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.h_text {
  font-weight: 500;
  font-size: 22px;
  font-family: georgian;
  color: rgb(23, 22, 21);
}

.s_text {
  font-weight: 500;
  font-size: 18px;
  font-family: s_popins;
  color: rgb(26, 25, 24);
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(219, 208, 195);
  display: flex;
}
.contact {
  width: 35%;
  height: 200px;
  margin-left: 30px;
  margin-top: 30px;
}
.soc {
  width: 30px;
  height: 25px;
  border: 1px solid rgb(189, 183, 183);
  border-radius: 8px;
}
.photo {
  width: 100%;
  height: 250px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.movie {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.818);
}
.vd {
  width: 600px;
  height: 300px;
}
.bottom_logo {
  width: 50px;
  height: 50px;
  border-radius: 360px;
}
